@use '../variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

/**********   UTILITY **********/

.btn {
    padding: 10px 55px;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-grey {
    background-color: $bg-secondary;
    color: black;
}

.btn-black {
    background-color: $transparent-bg;
    color: white;
}
